<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>VeloMH: Ride Sharing Service | MapleHeap Technologies</title>
    <link rel="icon" href="../../assets/img/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="../../libs/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="../../libs/fontawesome/css/solid.css" rel="stylesheet" />

    <!-- custom style  -->
    <link rel="stylesheet" href="../../css/style.css">

  </head>
  <body>

    <!-- header -->
    <header id="_header" class="bg-light shadow"></header>

    <section>
    	<div class="p-lg-0 mt-5">
        <div class="row w-100 m-0">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="font-weight-bold">
              <img src="../../assets/img/services/s2-0.avif" alt="Embedded Analytics Service" class="img-fluid"> Velo<span class="text-warning">MH</span>: Ride Sharing Service
            </h1>
          </div>

          <div class="col-lg-8 offset-lg-2 h6 mt-5">
            <p>
              VeloMH is a trip planning and ride sharing application. You can think of it as a platform that helps you share your planned trips with others. If you plan to drive to a place, you can simply post a trip on VeloMH so that others can see it and send you ride requests if they are looking for ride to the same place. Similarly, if you do not plan to drive but have to go somewhere, you can simply post a ride request on VeloMH so that others can see it and send you trip invitations if they already planned a trip to the same place. Drivers and riders are matched by VeloMH search engine and once matched it lets both rider and driver fully review each other's profile before proceeding further. There are many unique features that distinguishes this ride sharing application from the existing ones. Below is some more information on these unique features.
            </p>

            <div class="">
              <div class="row w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12">
                  <img src="../../assets/img/services/s3-1.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Trip Planner</h3>
                  <span>
                    With VeloMH users can plan trips for the next 30 days. This is specially a suitable feature if someone needs to go to a far place in the next 30 days. This type of trip is not recurring in nature as it is mostly a one-off.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3-2.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row flex-row-reverse justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5 pt-5">
                  <h3 class="font-weight-bold">Daily Commute</h3>
                  <span>
                    For any user, it is highly inconvenient to keep creating a new trip every time if the user has to go somewhere on a regular basis. For example, you have classes at university five days a week and you need a ride almost daily. This is clearly a recurring situation and ideally you would want to automate the creation of trips based on your daily commute. The VeloMH daily commute feature does exactly that for you. Without having to manually add trips, you receive notifications on matches when it is time to go to university from home and vice versa.
                  </span>
                </div>
                <div class="col-lg-5 col-sm-6 mt-5 pt-5">
                  <img src="../../assets/img/services/s3-3.avif" alt="StarMH Designer" class="w-100 img-fluid">
                </div>
              </div>
            </div>

            <div class="">
              <div class="row justify-content-between w-100 m-0 align-items-center">
                <div class="col-lg-12 col-sm-12 mt-5 pt-5">
                  <h2 class="font-weight-bold  text-center">Velo<span class="text-warning">MH</span> Communities</h2>
                  <img src="../../assets/img/services/s3-4.avif" alt="VeloMH Communities" class="w-100 img-fluid">
                  <p>
                    A group of people who live, work or perform any activity in the same place can be seen as a community. This concept of community associates people with physical locations (such as Office Building, University, College, Park, Gym, or Hospital) 
                  </p>
                  <p>
                    VeloMH application maintains a list of communities. Users can request to create new communities using the app. The communities are created by VeloMH back office after validating the provided information. A community must have a name, picture, address, description, email domains (for user verification) and optionally website.
                  </p>
                  <p class="mt-5">Following are some examples in Calgary for which communities can be created.</p>
                  <p>1). University of Calgary</p>
                  <p>2). South Health Campus</p>

                  <p>
                    VeloMH users can search these communities and join them using the associated email domains. For instance, if a VeloMH user from University of Calgary wants to join that community on VeloMH, he or she can become a VeloMH verified community member by using email address with domain @ucalgary.ca. To perform verification, we send a verification code on the community email address. Community membership is granted by VeloMH app right away after successful email verification.
                  </p>
                  <p>
                    A VeloMH user can have multiple community memberships. For example, a part time student who is attending a school might also work somewhere at the same time. So, that person would be able to join both communities associated with that school as well as the workplace.
                  </p>
                  <span class="font-weight-bold">Benefits of communities</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <footer id="_footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.4.1.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/header.js"></script>
    <script type="text/javascript" src="../../js/footer.js"></script>
    <script type="text/javascript" src="../../js/main.js"></script>
  </body>
</html>